<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.diagnostics>
    <switches>
      <clear/>
      <add name="LogLevel" value="4"/>
    </switches>
    <trace autoflush="true" indentsize="4">
      <listeners>
        <clear />
        <add name="log" type="System.Diagnostics.LogControlTraceListener,WYJ.Windows" traceOutputOptions="DateTime"/>
        <add name="LogText" type="System.Diagnostics.TextWriterTraceListener" initializeData="Logs\log.txt" traceOutputOptions="DateTime"/>
      </listeners>
    </trace>
  </system.diagnostics>
  <runtime>
    <!--自定义动态库加载目录-->
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="Sdk\Cef;"/>
    </assemblyBinding>
  </runtime>
</configuration>